:root {
  --header-height: 3rem;

  /*==================== Color ====================*/

  --prymary-color-dark: #0943d4;
  --prymary-color-base: #0a4df4;
  --prymary-color-light: #4477f7;
  --prymary-color-light1: #b7cbfc;
  --prymary-color-light2: #f0f4fe;

  --text-color-base: #111826;
  --text-color-light: #4a4f5a;
  --text-color-light1: #82868d;
  --text-color-light2: #bbbdc1;
  --text-color-light3: #eaeaeb;
  --text-color-white: #ffffff;

  --bg-color-dark: rgb(45, 45, 45);

  /*==================== Font Size ====================*/

  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2.25rem;
  --h4-font-size: 2rem;
  --h5-font-size: 1.5rem;
  --h6-font-size: 1.25rem;
  --subtilte-size: 1.125rem;
  --body-size: 0.875rem;

  /*==================== Font Weight ====================*/

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*==================== Margin Bottom ====================*/

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

section {
  transition: 0.2s ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  margin-bottom: var(--header-height);
}

.hero_text {
  align-items: center;
  text-align: center;
  margin-bottom: var(--mb-3);
}

.hero_title {
  display: flex;
  flex-direction: column;
  gap: var(--mb-2-5);
  margin-bottom: var(--mb-1-5);
}

p.body {
  color: var(--text-color-light1);
}

.dark .hero {
    background-color: var(--text-color-base);
}

.feature {
    margin: var(--header-height) 0;
}

.features_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: var(--mb-2-5);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--mb-1);
}


.card_text {
  display: flex;
  flex-direction: column;
  gap: var(--mb-1);
  text-align: center;
}

.content-ds {
    margin: var(--header-height) 0;
    padding: var(--header-height) 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--mb-3);
  justify-items: center;
}

.content_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--mb-2);
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 3rem;
    --h3-font-size: 2.5rem;
    --h4-font-size: 1.75rem;
    --h5-font-size: 1.5rem;
    --h6-font-size: 1.25rem;
    --subtilte-size: 1.125rem;
    --body-size: 1rem;
  }

  .hero {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 120px;
  }
  .hero_text {
    align-items: flex-start;
    text-align: left;
  }

  .hero img {
    width: 40%;
  }

  .card_text {
    text-align: left;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--header-height);
    justify-content: space-between;
  }

  .content img {
    width: 40%;
  }

  .content_text {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: var(--mb-2);
    width: 35%;
  }
}
